* {
  color: #525252;
}
input {
  display: block;
}
textarea {
  width: 100%;
  resize: none;
  height: 275px;
  border: 1px solid #dde0e4;
  border-radius: 8px;
  padding: 5px 10px;
}

.preview {
  margin: 2rem 1rem;
  padding: 10px;
  background-color: rgb(37, 55, 86);
  border-radius: 8px;
}
.p-white {
  color: white;
}
.url {
  margin: 2rem 1rem;
  padding: 10px;
  background-color: rgb(37, 55, 86);
  border-radius: 8px;
}
audio {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 3%), 0 8px 32px 0 rgb(16 33 60 / 24%);
}
form {
  margin: 2rem 1rem;
  padding: 10px;
}
